.button {
    margin: 5px;
    width: 85px;
    text-align: center;
}
img {
    margin: 10px;
}
#buttons {
    background-color: red;
    padding: 10px;
    text-align: center;
}
#form-group {
    background-color: black;
    text-align: center;
    padding: 20px;
    
}
#textBox {
    width: 300px;
}
button {
    background-color: white;
    color: black;
}
#add {
    margin-top: 10px;
}
#gifs {
    text-align: center;
}
